<div class="mx-auto text-center mt-20 h-22 w-1/5 rounded-xl bg-blue-400 p-4">
  <p class="text-3xl mb-10">Co chcesz zrobić?</p>
  <button class="w-60 border rounded-xl bg-green-600 p-2 m-4" routerLink="/study">Nauka</button>
  <div class="flex flex-row justify-between">
    <button class="w-60 border rounded-xl bg-red-300 p-2 m-4" routerLink="/exam">Egzamin</button>
    <button class="w-60 border rounded-xl bg-red-300 p-2 m-4" [routerLink]="['/single-questions']">Pojedyncze
      pytania</button>
  </div>
</div>
