<div class="mx-auto text-center mt-20 w-1/5 rounded-xl bg-cyan-200 p-4">
  <p class="text-3xl mb-10">Pytanie nr:</p>
  <div class="flex flex-col items-center">
    <button class="w-40 border rounded-xl bg-green-400 p-1 m-4" routerLink="/exam">Sprawdź odpowiedź</button>
    <button class="w-40 border rounded-xl bg-green-400 p-1 m-4" [routerLink]="['/single-questions']">Następne
      pytanie</button>
  </div>
</div>
<button class="fixed right-0 bottom-0 w-60 border rounded-xl bg-green-600 p-2 m-4" routerLink="">Powrót do
  menu</button>
