<div class="mx-auto text-center mt-20 w-2/5 rounded-xl bg-cyan-200 p-4">
  <p class="text-3xl mb-10">Pytanie nr: {{ question.id }}</p>
  <p class="text-xl mb-6">{{ question.question }}</p>
  <div class="text-left mt-4">
    <p><b>A.</b> {{ question.a }}</p>
    <p><b>B.</b> {{ question.b }}</p>
    <p class="mb-10"><b>C.</b> {{ question.c }}</p>
  </div>
  <div *ngIf="showAnswear$ | async">
    <p> prawidłowa odpowiedź: {{ question.answear }}</p>
  </div>
  <div class="flex flex-col items-center">
    <button class="w-40 border rounded-xl bg-green-400 p-1 m-4" (click)="showAnswear()">Sprawdź odpowiedź</button>
    <button class="w-40 border rounded-xl bg-green-400 p-1 m-4" (click)="getNextQuestion()">Następne pytanie</button>

  </div>
</div>
<button class="fixed right-0 bottom-0 w-60 border rounded-xl bg-green-600 p-2 m-4" routerLink="">Powrót do
  menu</button>