<div class="mx-auto text-center mt-20 w-1/5 rounded-xl bg-cyan-200 p-4">
  <p class="text-3xl mb-10">Pytanie nr: {{question.id }}</p>
  <div class="flex flex-row justify-between">
    <button class="w-78 border rounded-xl bg-green-400 p-1 m-4" type="button" (click)="increase()">Poprzednie
      pytanie</button>
    <button class="w-70 border rounded-xl bg-green-400 p-1 m-4" type="button" (click)="decrease()">Następne
      pytanie</button>
  </div>
</div>

<div class="mx-auto text-center mt-6 h-22 w-1/5 rounded-xl bg-cyan-200 p-4">
  <span class="mr-2">przejdź do pytania nr:</span>
  <input class="w-24" type="number">
  <button class="w-32 border rounded-xl bg-green-600 p-2 m-4">OK</button>
</div>
<button class="fixed right-0 bottom-0 w-60 border rounded-xl bg-green-600 p-2 m-4" routerLink="">Powrót do
  menu</button>